
@media (width < 450px) {
  /* cover ------------------- */
  .cover_container button {
    font-size: 1rem;
    width: 200px;
    height: 50px;
  }

  .cover_div {
    margin-bottom: 200px;
  }

  .cover_container h1 {
    font-size: 2rem;
    line-height: 60px;
  }

  .cover_container p {
      height: 25px;

      font-size: 20px;
      line-height: 25.2px;
      margin-bottom: 20px;
  }

  .dinoKun_cover {
    width: 300px;
    height: 300px;
    right: -70px;
    bottom: -40px;
  }

  /* attributes ------------------- */

  .attributes_container {
    padding: 100px 0;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    overflow: auto;

  } 

  .attributes_card h2 {
    font-size: 20px;
    line-height: 26px;
  }

  .attributes_card p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .attributes_card img {
    width: 100px;
    height: 100px;
  }

  /* gallery ------------- */

  .gallery_container {
    background-color: #FFFFFF;
    
    width: 100vw;
    height: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column-reverse;
    gap: 0px;

}

.gallery_text_container {
    background-color: #9FFF98;

    width: 100%;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    height: 450px;


}

.gallery_text_container h2 {
    font-size: 26px;
    line-height: 30px;
}

.gallery_text_container button {
    font-size: 16px;
    width: 170px;
    height: 50px;
    line-height: 20px;
}

.gallery_img_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 15px;
  
    min-height: 300px;
    width: 100%;

}

.gallery_img1 {
    display: flex;
    height: 50%;

  }

.gallery_img2 {
    display: flex;
    height: 35%;
  }




  /* emoji ------------- */

  .emoji_container {
    max-height: 200px;
    width: 100vw;
  }

  /* questions ------------- */

  .questions_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;

  }

  .btn_questions {
    gap: 0px;
    
  }


  .questions_text {
    width: 100vw;
    padding-bottom: 40px;
  }

  .questions_text h2 {
      width: min-content;
      font-size: 40px;
      line-height: 45px;
  }

  .questions_text span {
    width: 200px;
    line-height: 18px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

  .questions_description {
    width: 250px;
    display: none;

      text-align: center;
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      overflow: hidden;
      overflow-y: auto;

      transition: all 1s linear ease-in;
  }

  .animation_descrition_open {
    display: block;
    padding: 20px 30px;
    max-height: 150px;

    animation: openQuestions 1s linear 1s ease-in;
  }

  @keyframes openQuestions {
      0% {
          padding: 0;
          height: 0;
          display: block;

      } 100% {
          padding: 30px 30px;
          height: 150px;
          max-height: 150px;
          display: block;

      }
  }

  .questions_img {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF1E5D;
  }

/* adopt ----------------- */
  .adopt_container {

    width: 100vw;
    height: 100vh;
    padding: 0;

    flex-direction: column;
  }

  .adopt_container > div{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 450px;
    column-gap: 100px;

    height: 90%;

  }
  
  .adopt_text {
    align-items: center;
    gap: 10px;
    padding: 0px;
  } 

  .adopt_text h2 {
    font-size: 40px;
    line-height: 45px;
    width: 200px;
    text-align: center;

  }

  .btn_adopt {
    font-size: 16px;
    width: 180px;
    height: 50px;
  }

  .adopt_img .img1 {
    width: 250px;
    height: 250px;
    
    position: absolute;
    top: 0px;
    left: 10px;
  }
      
  .adopt_img .img2 {
      width: 250px;
      height: 250px;

      position: absolute;
      bottom: 0px;
      right: 10px;

  }

  /* footer */

  footer {

    font-size: 14px;
    font-weight: 400;

    display: flex;
    justify-content: center;
  }

  footer span {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a, a:visited, a:active {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    font-weight: 600;
  }



}

@media (450px < width < 900px)  {

  /* cover ------------------- */
    .cover_div {
      margin-bottom: 100px;
  }

    .dinoKun_cover {
      width: 550px;
      height: 550px;

      right: -150px;
      bottom: -100px;
  }

  /* attribute ---------- */

  .attributes_card {
      flex-direction: column;
      align-items: center;
      justify-content: start;
  }

  .attributes_card img {
    width: 150px;
    height: 150px;
  }

  /* gallery ---------- */


  .gallery_container {
    flex-direction: column-reverse;
    padding-top: 30px;

  }


  .gallery_text_container {
    background-color: #9FFF98;

    width: 100%;
    height: 400px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    
    overflow-x: hidden;

  }

  .gallery_text_container h2 {
    max-width: 200px;
    font-size: 40px;
    line-height: 45px;
  }


  .gallery_text_container button {
    width: 350px;
    height: 70px;
  }


  .gallery_img_container {
    overflow-x: hidden;
    justify-content: center;
    max-height: 800px;
  }


  .gallery_img1 {
    display: flex;
    height: 55%;
    }

  .gallery_img2 {
    display: flex;
    height: 45%;
      
  }

  .gallery_img img {
      display: block;
      height: 100%;
      object-fit: cover;

  }


  /* questions ------------------- */

  .questions_container {
    width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-rows: 1fr .5fr;
    grid-template-columns: 1fr;

    
  }

  /* adopt ------------------- */

  .adopt_container > div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
    align-items: center;
    justify-content: center;

    height: 90%;

    z-index: 10;
  
  }


  .adopt_img .img1 {
    width: 350px;
    height: 350px;
    
    top: 0px;
    right: -100px;
  }
    
  .adopt_img .img2 {
    width: 350px;
    height: 350px;

    bottom: -20px;
    left: -100px;

  }
}

@media (900px < width <= 1280px) {


  /* cover ----------- */
    
  .dinoKun_cover {
    width: 550px;
    height: 550px;

    right: -120px;
    bottom: -100px;

    z-index: 0;

  }

  /* gallery ---------- */

  .gallery_container {
    padding: 20px 0px;
  }


  .gallery_img_container {

    height: 90vh;
    overflow-x: hidden;

}

.gallery_img1 {
    display: flex;
    height: 55%;
}

.gallery_img2 {
    display: flex;
    height: 40%;
    
}

.gallery_img img {
    display: block;
    height: 100%;
    object-fit: cover;

}



  /* adopt ----------- */
  .adopt_img .img1 {
    width: 400px;
    height: 400px;
    
    position: absolute;
    top: 50px;
    left: 100px;
  }
    
  .adopt_img .img2 {
    width: 400px;
    height: 400px;

    position: absolute;
    bottom: -10px;
    right: 80px;

  }
}